<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soil List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}"/>
</head>
<body>
    <h3>Soil List</h3>

    <div id="add"><a th:href="add" class="btn btn-primary">Add row</a></div>

    <table  class="table table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>uuid_t</td>
                    <td>p_name</td>
                    <td>p_type</td>
                    <td>p_type_fk</td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="soil : ${soilList}" th:object="${soil}">
                    <td th:text="*{id}">...</td>
                    <td th:text="*{uuidT}">...</td>
                    <td th:text="*{pName}">...</td>
                    <td th:text="*{pType}">...</td>
                    <td th:text="*{pTypeFk}">...</td>
                    <td><a th:href="${'/update/__*{id}__'}" class="btn btn-warning">Update</a></td>
                    <td><a th:href="${'/delete/__*{id}__'}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
    </table>

</body>
</html>