<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Row</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}"/>
</head>
<body>
    <h3>Update row</h3>

    <div id="return"><a th:href="@{/}" class="btn btn-primary">Return to List</a></div>

    <form th:action="@{/update}" method="post" th:object="${soil}">
        <table class="table">
            <thead>
            <tr>
                <td>id</td>
                <td>uuid_t</td>
                <td>p_name</td>
                <td>p_type</td>
                <td>p_type_fk</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><input type="text" th:field="*{id}" readonly="true" /></td>
                <td><input type="text" th:field="*{uuidT}" readonly="true" style="width: 280px;" /></td>
                <td><input type="text" th:field="*{pName}" /></td>
                <td><input type="text" th:field="*{pType}" readonly="true" /></td>
                <td><input type="text" th:field="*{pTypeFk}" readonly="true" /></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-primary" value="Update" /></td>
            </tr>
            </tbody>
        </table>
    </form>

</body>
</html>